<p align="center"><img src="https://cdn.dribbble.com/users/1299339/screenshots/7133657/media/837237d447d36581ebd59ec36d30daea.gif" width="280"/></p>

<p align="center">Immutable is the creator behind the hit game - Gods Unchained. Here is a mono-repo containing all the code for our public contracts.</p>

<p align="center">
  <a href="https://solidity.readthedocs.io/en/develop/index.html">
    <img src="https://img.shields.io/badge/SOLIDITY-0.5.11-orange.svg" />
  </a>
  <a href="https://opensource.org/licenses/Apache-2.0">
    <img src="https://img.shields.io/badge/LICENSE-APACHE2.0-3DA639.svg" />
  </a>
</p>

## Packages :package:

### Contracts

|                            Package                             |                                                                Version                                                                |                           Description                           |
| -------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------- |
| [`@imtbl/gods-unchained`](/contracts/gods-unchained)                                     | [![npm](https://img.shields.io/npm/v/@imtbl/gods-unchained.svg)](https://www.npmjs.com/package/@imtbl/gods-unchained)                                                 | Gods Unchained smart contracts and typings       |
| [`@imtbl/immutable-wallet`](/contracts/immutable-wallet)                                   | [![npm](https://img.shields.io/npm/v/@imtbl/immutable-wallet.svg)](https://www.npmjs.com/package/@imtbl/immutable-wallet)                                               | Immutable Smart Contract Wallet contracts and typings                    |

### Published

|                            Package                             |                                                                Version                                                                |                           Description                           |
| -------------------------------------------------------------- | ------------------------------------------------------------------------------------------------------------------------------------- | --------------------------------------------------------------- |
| [`@imtbl/addresses`](/packages/addresses)                                     | [![npm](https://img.shields.io/npm/v/@imtbl/addresses.svg)](https://www.npmjs.com/package/@imtbl/addresses)                                                 | Public addresses of deloyed contracts       |
| [`@imtbl/artifacts`](/packages/artifacts)                                   | [![npm](https://img.shields.io/npm/v/@imtbl/artifacts.svg)](https://www.npmjs.com/package/@imtbl/artifacts)                                               | ABIs of all the main contracts needed for development                    |
| [`@imtbl/tests-utils`](/packages/test-utils)                 | [![npm](https://img.shields.io/npm/v/@imtbl/test-utils.svg)](https://www.npmjs.com/package/@imtbl/test-utils)                 | Developer utilities                                             |
| [`@imtbl/utils`](/packages/utils)                 | [![npm](https://img.shields.io/npm/v/@imtbl/utils.svg)](https://www.npmjs.com/package/@imtbl/test-utils)                 | Utilities while developing with our contracts                                             |
| [`@imtbl/types`](/packages/types)                         | [![npm](https://img.shields.io/npm/v/@imtbl/types.svg)](https://www.npmjs.com/package/@imtbl/types)                         | Shared type declarations                                        |

### Private

|                       Package                        |              Description              |
| ---------------------------------------------------- | ------------------------------------- |
| [`@imtbl/deployment`](/packages/deployment)       | Immutable contract deployment scripts   |
| [`@imtbl/order-generator`](/packages/order-generator)                 | Order generator used for testing |


## Addresses :innocent:

We get it, you're just here to find the contract addresses. Luckily for you, they're all listed here.

### Contracts (Main Net)

| Contract Name | Address |
| ------------- | ------- |
{{#1-production.addresses}}
| Cards | {{Cards}} |
| Forwarder | {{Forwarder}} |
{{/1-production.addresses}}

### Dependencies  (Main Net)

| Contract Name | Address |
| ------------- | ------- |
{{#1-production.dependencies}}
| Wrapped Ether | {{WETH}} |
| 0x Exchange | {{ZERO_EX_EXCHANGE}} |
| 0x ERC20 Proxy | {{ZERO_EX_ERC20_PROXY}} |
| 0x ERC721 Proxy | {{ZERO_EX_ERC721_PROXY}} |
{{/1-production.dependencies}}

### Contracts (Ropsten)

| Contract Name | Address |
| ------------- | ------- |
{{#3-staging.addresses}}
| Cards | {{Cards}} |
| OpenMinter | {{OpenMinter}} |
| Forwarder | {{Forwarder}} |
{{/3-staging.addresses}}

### Dependencies (Ropsten)

| Contract Name | Address |
| ------------- | ------- |
{{#3-staging.dependencies}}
| Wrapped Ether | {{WETH}} |
| 0x Exchange | {{ZERO_EX_EXCHANGE}} |
| 0x ERC20 Proxy | {{ZERO_EX_ERC20_PROXY}} |
| 0x ERC721 Proxy | {{ZERO_EX_ERC721_PROXY}} |
{{/3-staging.dependencies}}


## Contributing :raising_hand_woman:
We appreciate your desire to contribute to the 8x Protocol. We strive to maintain
a high standard over code quality and the security of our contracts. Please read over
this contributor guide before starting.

### How to Contribute
If you would like to contribute please fork the repo, create a new branch, fix the problem, commit the work with a clear message about what was accomplished, and submit a pull request.

### Code Quality
- When adding functionality, please also add tests and make sure they pass
- When adding a new function, make sure to add comments that adhere to the format seen throughout the project
- When fixing conflicts please use `rebase`
- When updating your working branch with `upstream master` changes, please `rebase`
- Make sure there are no linter `warnings` or `errors`

##### Requirements
- Lerna

##### Pre Requisites
```
npm install -g lerna
npm install -g typescript@2.6.2
```

##### Compiling All Packages
```
lerna run build
```

##### Running All Tests
```
lerna run test
```